In [1]:
# Import libraries
import glob
import pandas as pd

In [2]:
path = '/Users/ladi/Desktop/My data science/Election_data_csv_file'
csv_files = glob.glob(path + "/*.csv")

In [3]:
# Read each state collation CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file) for file in csv_files)

In [4]:
# Concatenate all DataFrames
Election_2023 = pd.concat(df_list, ignore_index=True)

In [5]:
Election_2023.info()
Election_2023.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123918 entries, 0 to 123917
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   State                   123918 non-null  object
 1   LGA                     123918 non-null  object
 2   Ward                    123918 non-null  object
 3   PU-Code                 123918 non-null  object
 4   PU-Name                 123918 non-null  object
 5   Accredited_Voters       123918 non-null  int64
 6   Registered_Voters       123918 non-null  int64
 7   Results_Found           123918 non-null  bool
 8   Transcription_Count     123918 non-null  int64
 9   Result_Sheet_Stamped    123918 non-null  bool
 10  Result_Sheet_Corrected  123918 non-null  bool
 11  Result_Sheet_Invalid    123918 non-null  bool
 12  Result_Sheet_Unclear    123918 non-null  bool
 13  Result_Sheet_Unsigned   123918 non-null  object
 14  APC                     123918 non-null  int64
 15  LP                      123918 non-null  int64
 16  PDP                     123918 non-null  int64
 17  NNPP                    123918 non-null  int64
 18  Results_File            123918 non-null  object
dtypes: bool(5), int64(7), object(7)
memory usage: 13.8+ MB

,Accredited_Voters,Registered_Voters,Transcription_Count,APC,LP,PDP,NNPP
count,123918.000000,123918.000000,123918.0,123918.000000,123918.000000,123918.000000,123918.000000
mean,140.777442,526.360973,-1.0,47.844744,38.179498,36.760874,8.223543
std,93.986952,352.823973,0.0,50.082543,60.925200,45.702998,27.515300
min,0.000000,0.000000,-1.0,0.000000,0.000000,0.000000,0.000000
25%,69.000000,258.000000,-1.0,8.000000,0.000000,4.000000,0.000000
50%,129.000000,522.000000,-1.0,33.000000,11.000000,19.000000,0.000000
75%,198.000000,750.000000,-1.0,73.000000,52.000000,54.000000,2.000000
max,1939.000000,11512.000000,-1.0,600.000000,600.000000,573.000000,587.000000

In [6]:
Election_2023.describe(include='object')

,State,LGA,Ward,PU-Code,PU-Name,Result_Sheet_Unsigned,Results_File
count,123918,123918,123918,123918,123918,123918,123918
unique,37,764,7718,123918,118204,1,120455
top,LAGOS,ALIMOSHO,KARU,05-17-07-006,CENTRAL SCHOOL I,UNKNOWN,https://docs.inecelectionresults.net/elections...
freq,11911,1375,247,1,26,123918,18

In [7]:
Election_2023.State.unique()

array(['EBONYI', 'KADUNA', 'ENUGU', 'ADAMAWA', 'ANAMBRA', 'FCT', 'GOMBE',
       'EKITI', 'CROSS RIVER', 'JIGAWA', 'NASARAWA', 'IMO', 'YOBE',
       'BAYELSA', 'EDO', 'KWARA', 'OYO', 'NIGER', 'TARABA', 'KOGI',
       'ONDO', 'LAGOS', 'ZAMFARA', 'BORNO', 'ABIA', 'BENUE', 'KEBBI',
       'RIVERS', 'AKWA IBOM', 'OSUN', 'BAUCHI', 'KATSINA', 'OGUN',
       'SOKOTO', 'DELTA', 'PLATEAU', 'KANO'], dtype=object)

In [13]:
Election_2023.State.nunique()

123918

In [14]:
# count of polling units
Election_2023['PU-Code'].nunique()

123918

In [9]:
# checking for null values

Election_2023.isnull().sum()

State                     0
LGA                       0
Ward                      0
PU-Code                   0
PU-Name                   0
Accredited_Voters         0
Registered_Voters         0
Results_Found             0
Transcription_Count       0
Result_Sheet_Stamped      0
Result_Sheet_Corrected    0
Result_Sheet_Invalid      0
Result_Sheet_Unclear      0
Result_Sheet_Unsigned     0
APC                       0
LP                        0
PDP                       0
NNPP                      0
Results_File              0
dtype: int64

In [10]:
# write merged files into a new csv
Election_2023.to_csv("presidential_election_data.csv", index=False)